.mainDiv {
  min-height: calc(100vh - 200px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}
.buttonDiv {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

button {
  padding: 0.5rem;
  min-width: 6rem;
  font-weight: 600;
  border-radius: 5px;
}

.circle {
  padding: 6rem;
  font-size: 9rem;
  border-radius: 50%;
}
.odd {
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0.8),
    rgba(255, 255, 0, 0.8)
  );
}
.even {
  background-image: linear-gradient(
    to left,
    rgba(255, 0, 0, 0.8),
    rgba(255, 255, 0, 0.8)
  );
}
