.mainDiv {
  min-height: calc(100vh - 200px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
}
.buttonDiv {
  display: flex;
  gap: 1rem;
}
.countP {
  font-size: 8rem;
}
button {
  padding: 0.5rem;
  min-width: 6rem;
  font-weight: 600;
  border-radius: 5px;
}
